 **IMPORTING LIBRARIES**

In [28]:
#importing pandas
import pandas as pd
import numpy as np

**DATA** **UNDERSTANDING**

In [126]:
#we will use the provided excel description data to understand the data provided
#loading geo data description 
geo_description=pd.read_excel('/content/cells_geo_description.xlsx')
geo_description

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [127]:
#loading CDR description
CDR_description=pd.read_excel('/content/CDR_description.xlsx')
CDR_description

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

**DATA LOADING**

In [140]:
#loading the geo data on the environment 
Geo = pd.read_csv('/content/cells_geo.csv', delimiter=';', index_col=0)
Geo.head()
#using the provided description we rename the column
Geo.columns=['City','Status','Locality','Geographical_Zone','Zone_Name','Longitude','Latitude','Region','Area','Cell_ID','Site_ID']
Geo.head()

      City      Status   Locality  ... Area     Cell_ID     Site_ID
0   ADJAME  In Service    ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service    ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service    ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service  INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service  INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

In [141]:
#loading CDR data to the environment
#DAY 1
#CDR 20120507
CDR= pd.read_csv('http://bit.ly/Telcom_dataset1', delimiter=',')
CDR.head()
#Renaming the columns with understanding from description
CDR.columns=['Product','Billing_Price','Date_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID']
CDR.head()

  Product  Billing_Price  ...     Cell_ID     Site_ID
0   Voice              0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms              0  ...  /+cKZKIp41  /+cKZKIp41
2     sms             25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice             56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice             14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [142]:
#CDR 20120508
#DAY 2
CDR1= pd.read_csv('http://bit.ly/Telcom_dataset2', delimiter=',')
CDR1.head()
#Renaming columns
CDR1.columns=['Product','Billing_Price','Date_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID']
CDR1.head()

  Product  Billing_Price  ...     Cell_ID     Site_ID
0     sms              0  ...  +854AcBQT2  +854AcBQT2
1   Voice              0  ...  +854AcBQT2  +854AcBQT2
2     sms              0  ...  +laSrk7g6q  +laSrk7g6q
3   Voice             37  ...  /xvRrCVKoQ  /xvRrCVKoQ
4     sms             25  ...  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [143]:
#CDR 20120509
#DAY 3
CDR2= pd.read_csv('http://bit.ly/Telcom_dataset3', delimiter=',')
CDR2.head()
#renaming the columns
CDR2.columns=['Product','Billing_Price','Date_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID']
CDR2.head()

  Product  Billing_Price  ...     Cell_ID     Site_ID
0   Voice             61  ...  +38u2u/rfx  +38u2u/rfx
1     sms              0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice             10  ...  +ZaaZozy/+  +ZaaZozy/+
3     sms              0  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice             22  ...  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

**DATA** **CLEANING**

In [145]:
#JOINING THE THREE CDR DATASET FOR THE THREE DAYS
CDR_joined = pd.concat([CDR, CDR1, CDR2], ignore_index = True)
CDR_joined

      Product  Billing_Price  ...     Cell_ID     Site_ID
0       Voice              0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1         sms              0  ...  /+cKZKIp41  /+cKZKIp41
2         sms             25  ...  /u0FSD+ahi  /u0FSD+ahi
3       Voice             56  ...  +cNeJzsTp3  +cNeJzsTp3
4       Voice             14  ...  051KhYDCpv  051KhYDCpv
...       ...            ...  ...         ...         ...
14998   Voice              0  ...  2aa04dcab7  f7d63a29e5
14999   Voice             62  ...  7f1f2f889f  b4ddb9e93c
15000   Voice             32  ...  a4731e780e  d68260ef50
15001   Voice             30  ...  98ed726da2  b4130b54ab
15002   Voice             60  ...  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [146]:
#Spilliting date and time to have two columns
CDR_joined [['Date', 'Time']] = CDR_joined.Date_Time.str.split(expand=True)
CDR_joined.head()

  Product  Billing_Price  ...        Date        Time
0   Voice              0  ...  2012-05-06  23:04:37.0
1     sms              0  ...  2012-05-06  23:05:25.0
2     sms             25  ...  2012-05-06  23:05:41.0
3   Voice             56  ...  2012-05-06  23:05:42.0
4   Voice             14  ...  2012-05-06  23:06:29.0

[5 rows x 12 columns]

In [147]:
#DROPPING IRRELEVANT COLUMNS
#WE WILL NOT NEED THE COUNTRIES  DATE TIME AND CELL ON SITE
CDR_joined.drop(columns= ['Country_A', 'Date_Time' ,'Country_B', 'Cell_On_Site'], inplace=True)
CDR_joined.head()

  Product  Billing_Price   Party_A_Number  ...     Site_ID        Date        Time
0   Voice              0  49fae048b547780  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms              0  7a54a6eaee19e65  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms             25  6008887b0207d82  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice             56  7370032e20f4e96  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice             14  966ba4656e38e62  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 8 columns]

In [148]:
#DROPPING THE NULL VALUES IN THE CDR DATASET
CDR_joined= CDR_joined.dropna()
CDR_joined.head()

  Product  Billing_Price   Party_A_Number  ...     Site_ID        Date        Time
0   Voice              0  49fae048b547780  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms              0  7a54a6eaee19e65  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms             25  6008887b0207d82  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice             56  7370032e20f4e96  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice             14  966ba4656e38e62  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 8 columns]

In [149]:
#DROPPING THE DUPLICATES
CDR_joined= CDR_joined.drop_duplicates()
CDR_joined.head()

  Product  Billing_Price   Party_A_Number  ...     Site_ID        Date        Time
0   Voice              0  49fae048b547780  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1     sms              0  7a54a6eaee19e65  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2     sms             25  6008887b0207d82  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3   Voice             56  7370032e20f4e96  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4   Voice             14  966ba4656e38e62  ...  051KhYDCpv  2012-05-06  23:06:29.0

[5 rows x 8 columns]

In [150]:
#Reviewing the data after the "droppings"
CDR_joined
#2214 rows have been dropped

      Product  Billing_Price  ...        Date        Time
0       Voice              0  ...  2012-05-06  23:04:37.0
1         sms              0  ...  2012-05-06  23:05:25.0
2         sms             25  ...  2012-05-06  23:05:41.0
3       Voice             56  ...  2012-05-06  23:05:42.0
4       Voice             14  ...  2012-05-06  23:06:29.0
...       ...            ...  ...         ...         ...
14997   Voice             10  ...  2012-05-09  00:01:43.0
14998   Voice              0  ...  2012-05-09  00:01:43.0
14999   Voice             62  ...  2012-05-09  00:01:43.0
15001   Voice             30  ...  2012-05-09  00:01:43.0
15002   Voice             60  ...  2012-05-09  00:01:43.0

[12789 rows x 8 columns]

In [151]:
#cleaning geo data
#dropping rows with null values
Geo= Geo.dropna()
Geo.head()
#dropping duplicates
Geo= Geo.drop_duplicates()
Geo

          City      Status   Locality  ...           Area     Cell_ID     Site_ID
23       ABOBO  In Service    ABIDJAN  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24       ABOBO  In Service    ABIDJAN  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25       ABOBO  In Service    ABIDJAN  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26       ABOBO  In Service    ABIDJAN  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27       ABOBO  In Service    ABIDJAN  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
...        ...         ...        ...  ...            ...         ...         ...
3969  ZUENOULA  In Service  INTERIEUR  ...   CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service  INTERIEUR  ...   CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service  INTERIEUR  ...   CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service  INTERIEUR  ...   CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service  INTERIEUR  ...   CENTRE NORTH  f9f3e42589  61bee9c70c

[3863 rows x 11 columns]

In [152]:
#joining CDR and geo data
#using SITE id which is in both datasets
CDR_Geo = Geo.merge(CDR_joined, how='left', on='Site_ID')
CDR_Geo.head()

    City      Status Locality  ...   Cell_ID_y        Date        Time
0  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 18 columns]

In [153]:
#DROPPING IRRELEVANT COLUMNS
CDR_Geo.drop(columns= ['Longitude', 'Latitude' ,'Party_A_Number', 'Party_B_Number'], inplace=True)
CDR_Geo.head()

    City      Status Locality  ...   Cell_ID_y        Date        Time
0  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 14 columns]

**DATA ANALYSIS**

In [160]:
#most used products
CDR_Geo.groupby('Product')['Billing_Price'].sum()

Product
Voice    1144599.0
sms       223101.0
Name: Billing_Price, dtype: float64

In [161]:
#finding cities that use voice product
call_product=CDR_Geo[CDR_Geo['Product'] == 'Voice']
call_product.head()

     City      Status Locality  ...   Cell_ID_y        Date        Time
4   ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0
6   ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:40.0
12  ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:01:03.0
19  ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:01:51.0
21  ABOBO  In Service  ABIDJAN  ...  a3422efd00  2012-05-08  00:00:00.0

[5 rows x 14 columns]

In [162]:
#CHECKING THE MOST USED CITY FOR THE  THREE DAYS(Voice)
#the highest billing price gives the most used
call_product[['Billing_Price']].max()

Billing_Price    6750.0
dtype: float64

In [163]:
call_product[call_product['Billing_Price'] == 6750.0]

         City      Status Locality  ...   Cell_ID_y        Date        Time
11129  COCODY  In Service  ABIDJAN  ...  3f5ac97214  2012-05-09  00:00:23.0
11141  COCODY  In Service  ABIDJAN  ...  3f5ac97214  2012-05-09  00:00:23.0
11153  COCODY  In Service  ABIDJAN  ...  3f5ac97214  2012-05-09  00:00:23.0
11165  COCODY  In Service  ABIDJAN  ...  3f5ac97214  2012-05-09  00:00:23.0

[4 rows x 14 columns]

In [164]:
#finding cities that use sms product
sms_product=CDR_Geo[CDR_Geo['Product'] == 'sms']
sms_product.head()

    City      Status Locality  ...   Cell_ID_y        Date        Time
0  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
5  ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:39.0

[5 rows x 14 columns]

In [165]:
#CHECKING THE MOST USED CITY FOR THE  THREE DAYS(sms)
#the highest billing price gives the most used
sms_product[['Billing_Price']].max()

Billing_Price    100.0
dtype: float64

In [166]:
#finding the city
sms_product[sms_product['Billing_Price'] == 100.0]

          City      Status Locality  ...   Cell_ID_y        Date        Time
5179     ABOBO  In Service  ABIDJAN  ...  5c7dc2f617  2012-05-07  00:00:04.0
5223     ABOBO  In Service  ABIDJAN  ...  5c7dc2f617  2012-05-07  00:00:04.0
5267     ABOBO  In Service  ABIDJAN  ...  5c7dc2f617  2012-05-07  00:00:04.0
5311     ABOBO  In Service  ABIDJAN  ...  5c7dc2f617  2012-05-07  00:00:04.0
5355     ABOBO  In Service  ABIDJAN  ...  5c7dc2f617  2012-05-07  00:00:04.0
...        ...         ...      ...  ...         ...         ...         ...
49107  MARCORY  In Service  ABIDJAN  ...  5fd5eae55a  2012-05-07  00:01:02.0
49118  MARCORY  In Service  ABIDJAN  ...  5fd5eae55a  2012-05-07  00:01:02.0
49129  MARCORY  In Service  ABIDJAN  ...  5fd5eae55a  2012-05-07  00:01:02.0
49140  MARCORY  In Service  ABIDJAN  ...  5fd5eae55a  2012-05-07  00:01:02.0
49151  MARCORY  In Service  ABIDJAN  ...  5fd5eae55a  2012-05-07  00:01:02.0

[144 rows x 14 columns]

In [177]:
#displaying product use during business hours between 08:00 and 18:00hrs
time = CDR_Geo[(CDR_Geo['Time'] >= '10:00:00.0') & (CDR_Geo['Time'] <= '23:00:00.0')]
time

Empty DataFrame
Columns: [City, Status, Locality, Geographical_Zone, Zone_Name, Region, Area, Cell_ID_x, Site_ID, Product, Billing_Price, Cell_ID_y, Date, Time]
Index: []

In [174]:
#displaying product during home hours 16:01 and 07:59hrs
time = CDR_Geo[(CDR_Geo['Time'] >= '00:00:00.0') & (CDR_Geo['Time'] <= '09:00:00.0')]
time.head()

    City      Status Locality  ...   Cell_ID_y        Date        Time
0  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:16.0
1  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
2  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:20.0
3  ABOBO  In Service  ABIDJAN  ...  e12d87c801  2012-05-07  00:00:22.0
4  ABOBO  In Service  ABIDJAN  ...  10ae6c0752  2012-05-07  00:00:37.0

[5 rows x 14 columns]